pre[class*="language-"] {
  color: theme("colors.neutral.900");
  position: relative;
}

.token.tag,
.token.selector,
.token.selector .class,
.token.selector.class,
.token.function {
  color: theme("colors.sky.600");
}

.token.attr-name,
.token.rule,
.token.pseudo-class,
.token.important {
  color: theme("colors.neutral.600");
}

.token.keyword {
  color: theme("colors.fuchsia.600");
}

.token.delimiter {
  color: theme("colors.red.600");
}

.token.module {
  color: theme("colors.pink.600");
}

.token.class-name,
.token.package {
  color: theme("colors.yellow.600");
}

.token.constant,
.token.boolean,
.token.number {
  color: theme("colors.orange.600");
}

.token.attr-value,
.token.class,
.token.string,
.token.property {
  color: theme("colors.lime.600");
}

.token.punctuation,
.token.attr-equals {
  color: theme("colors.neutral.600");
}

.token.unit,
.language-css .token.function {
  color: theme("colors.teal.600");
}

.token.comment,
.token.operator,
.token.combinator {
  color: theme("colors.neutral.400");
}

@mixin dark-theme {
  pre[class*="language-"] {
    color: theme("colors.neutral.300");
  }

  .token.tag,
  .token.selector,
  .token.selector .class,
  .token.selector.class,
  .token.function {
    color: theme("colors.sky.400");
  }

  .token.attr-name,
  .token.rule,
  .token.pseudo-class,
  .token.important {
    color: theme("colors.neutral.400");
  }

  .token.keyword {
    color: theme("colors.fuchsia.400");
  }

  .token.delimiter {
    color: theme("colors.red.400");
  }

  .token.module {
    color: theme("colors.pink.400");
  }

  .token.class-name,
  .token.package {
    color: theme("colors.yellow.400");
  }

  .token.constant,
  .token.boolean,
  .token.number {
    color: theme("colors.orange.400");
  }

  .token.attr-value,
  .token.class,
  .token.string,
  .token.property {
    color: theme("colors.lime.400");
  }

  .token.punctuation,
  .token.attr-equals {
    color: theme("colors.neutral.400");
  }

  .token.unit,
  .language-css .token.function {
    color: theme("colors.teal.400");
  }

  .text-green-500 {
    color: theme("colors.neutral.200");
  }

  code {
    background-color: theme("colors.neutral.800");
  }
}

@media (prefers-color-scheme: dark) {
  @include dark-theme;
}

.dark {
  @include dark-theme;
}

.prose ul li code {
  margin-top: 0;
  margin-bottom: 0;
}
