:root {
  --scrollbar-background: #fff;
  --scrollbar-handle: #d4d4d4;
  --scrollbar-handle-hover: #a3a3a3;
}

::-webkit-scrollbar {
  width: 16px;
  background-color: var(--scrollbar-background);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-background);
}

::-webkit-scrollbar-thumb {
  border-color: var(--scrollbar-background);
  background-color: var(--scrollbar-handle);
  min-height: 40px;
  border-radius: 16px;
  border-width: 6px;
  border-style: solid;

  &:hover {
    background-color: var(--scrollbar-handle-hover);
  }
}

::-webkit-scrollbar-button {
  display: none;
}

.nav-outer {
  --scrollbar-background: #f9fafb;
  --scrollbar-handle: #d4d4d4;
  --scrollbar-handle-hover: #a3a3a3;
}

pre {
  --scrollbar-background: #f9fafb;
  --scrollbar-handle: #d4d4d4;
  --scrollbar-handle-hover: #a3a3a3;
}

@mixin dark-scrollbars {
  :root {
    --scrollbar-background: theme("colors.neutral.950");
    --scrollbar-handle: theme("colors.neutral.700");
    --scrollbar-handle-hover: theme("colors.neutral.500");
  }

  .nav-outer {
    --scrollbar-background: theme("colors.neutral.950");
    --scrollbar-handle: theme("colors.neutral.700");
    --scrollbar-handle-hover: theme("colors.neutral.500");
  }

  pre {
    --scrollbar-background: theme("colors.neutral.950");
    --scrollbar-handle: theme("colors.neutral.700");
    --scrollbar-handle-hover: theme("colors.neutral.500");
  }
}

@media (prefers-color-scheme: dark) {
  @include dark-scrollbars;
}

html[data-theme="dark"] {
  @include dark-scrollbars;
}
