@import "fonts";
@import "prism";
@import "scrollbars";

h1,
h2,
h3 {
  font-weight: 600;
}

*,
::before,
::after {
  --tw-prose-underline: #ddd;
}

code {
  @apply inline-block rounded bg-neutral-50 px-2;

  &:before,
  &:after {
    @apply hidden;
  }
}

@mixin dark-code {
  p {
    code {
      @apply bg-neutral-800 text-neutral-300;
    }
  }
}

html[data-theme="dark"] {
  code {
    @apply bg-neutral-800;
  }

  @include dark-code;
}
